@charset "utf-8";
$orange:#f86b1b;


 section{
     width: 100%;
    margin-bottom: 88px;
 }
 
 
 section>#sort{
    width: 96%;
    overflow: hidden;
    margin: auto;
 }
 section>#sort>p{
      width: 100%;
      display: block;
      padding: 0.5rem 0;   
  }
 section>#sort>div{
     float: left;
     width: 32vw;
     height: 35vw;
//   border: 1px solid #000;
 }
  section>#sort>.one>p{
      text-align: center;
      font-size: 1.5rem;
      color: #007AFF;
      font-weight: 600;
  }
  section>#sort>.one>img{
      display: block;
      margin: 0 auto;
  }
 section>#sort>.two>p{
      text-align: center;
      margin: 0;
  }
 section>#sort>.two>p:nth-child(1){
     font-size: 1.2rem;
     color: red;
 }
 section>#sort>.two>p:nth-child(2){
     font-size: 1.5rem;
 }
 
 
 